{{> header}}

<div class="container">
    <h4  style="text-align: center; margin-bottom: 20px" class="">DANH SÁCH HÓA ĐƠN</h4>
    {{!-- <button data-toggle="modal" data-target="#exampleModalCenter" style="background-color: #C43030; color: white; margin-top: -15px; margin-left: -15px" class="button-warehouse btn mb-3">TẠO HÓA ĐƠN MỚI</button> --}}
    <div class="row">
        <table id="productTable" class="table">
            <thead class="thead-dark">
                <tr>
                <th scope="col">#</th>
                <th scope="col">Tên hóa đơn</th>
                <th scope="col">Danh sách bàn</th>
                <th scope="col">Tổng giá</th>
                <th scope="col">Chức năng</th>
                </tr>
            </thead>
            <tbody>
                {{#each orders}}
                    <tr>
                    <td>{{sum @index 1}}</td>
                    <td>{{this.name}}</td>
                    <td>{{this.tableNames}}</td>
                    <td>{{this.totalPrice}} đ</td>
                    <td>
                        <button class="btn btn-link" onclick="location.href='/order/{{this._id}}'">Chi tiết</button>
                    </td>
                    </tr>
                {{/each}}
            </tbody>
        </table>
    </div>

    <div class="modal fade" id="exampleModalCenter" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLongTitle">Thông tin hóa đơn</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div class="mb-3">
                    <label for="name" class="form-label">Tên hóa đơn</label>
                    <input type="text" class="form-control" required id="nameOrder" name="name" placeholder="Tên hóa đơn" value="Bàn x">
                </div>
                <button data-toggle="modal" data-target="#exampleModalCenter1" class="btn mb-3">CHỌN BÀN</button>
                
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                <button id="confirmCreateOrderButton" data-toggle="modal" type="button" class="btn btn-primary">Save changes</button>
            </div>
            </div>
        </div>
    </div>

    <div class="modal fade" id="exampleModalCenter1" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLongTitle">Chọn bàn</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <table id="productTable" class="table">
                    <thead class="thead-dark">
                        <tr>
                        <th scope="col">#</th>
                        <th scope="col">Tên bàn</th>
                        <th scope="col"></th>
                        </tr>
                    </thead>
                    <tbody>
                        {{#each tables}}
                            <tr>
                            <td>{{sum @index 1}}</td>
                            <td>{{this.name}}</td>
                            <td>
                                <div class="form-check">
                                    <input class="form-check-input" type="checkbox" value="{{this.name}}" name="{{this._id}}">
                                </div>
                            </td>
                            </tr>
                        {{/each}}
                    </tbody>
                </table>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-light" data-dismiss="modal">Xong</button>
            </div>
            </div>
        </div>
    </div>

    <div class="modal fade" id="exampleModalCenter2" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLongTitle" style="font-size: 24px; color: red"><br> Tạo hóa đơn thất bại <br><br></h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <br>
                Bạn cần chọn ít nhất 1 bàn để tạo hóa đơn!
                <br>
                <br>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
            </div>
            </div>
        </div>
    </div>
</div>

<form method="POST" id="formcreateorder"></form>

<script>
    let checkCount
    checkCount = 0
    let checkTable = document.getElementsByClassName('form-check-input')
    let formCreateOrder = document.getElementById('formcreateorder')
    let nameOrder = document.getElementById('nameOrder')
    let confirmButton = document.getElementById('confirmCreateOrderButton')
    let namenow = nameOrder.value
    for(let k = 0 ; k < checkTable.length ; k++) {
        checkTable[k].addEventListener("change", () => {
            checkCount = 0
            for(let i = 0 ; i < checkTable.length ; i++){
                if(checkTable[i].checked) {
                    checkCount += 1
                }
            }
    })
    }

    nameOrder.addEventListener("change", () =>{
            namenow = nameOrder.value
    })


    confirmButton.addEventListener('click', () => {
        if(checkCount === 0){
            confirmButton.setAttribute('data-target', '#exampleModalCenter2')
            confirmButton.click()
        }
        else {
            confirmButton.setAttribute('data-target', '#exampleModalCenter1')
            const input = `<input type="hidden" name="name" value="${namenow}">`
            formCreateOrder.innerHTML += input
            for(let k = 0 ; k < checkTable.length ; k++){
                if(checkTable[k].checked){
                    const input = `<input type="hidden" name="${checkTable[k].name}" value="${checkTable[k].value}">`
                    formCreateOrder.innerHTML += input
                }
            }
            formCreateOrder.action = '/order/create'
            confirmButton.setAttribute('data-target', '')
            formCreateOrder.submit()
        }
    })
</script>

