{{> header}}

<div class="container">
    <h4  style="text-align: center;" class="">THỰC ĐƠN</h4>
    <button onclick="location.href='/menu/themmon'" style="background-color: #C43030; color: white; margin-top: -15px; margin-left: -15px" class="btn mb-3">THÊM MÓN</button>
    <div class="row">
        <table id="productTable" class="table">
            <thead class="thead-dark">
                <tr>
                {{!-- <th scope="col">#</th> --}}
                <th scope="col">Tên món</th>
                <th scope="col">Giá</th>
                {{!-- <th scope="col">Đơn vị</th> --}}
                <th scope="col">Chức năng</th>
                </tr>
            </thead>
            <tbody>
                {{#each menus}}
                    <tr>
                    {{!-- <th scope="row">{{sum @index 1}}</th> --}}
                    {{!-- <td></td> --}}
                    <td>{{this.name}}</td>
                    <td>{{this.price}}đ</td>
                    {{!-- <td>{{this.donvi}}</td> --}}
                    {{!-- <td><img src="{{this.img}}" alt=""></td> --}}
                    <td><button class="btn btn-success" type="submit" onclick="location.href='/menu/{{this._id}}'">Chi tiết</button></td>
                    </tr>
                {{/each}}
            </tbody>
        </table>
    </div>
</div>